@font-face {
    font-family: "ds_digital";
    src: url(fonts/ds-digi.ttf);
}

button{
    border-radius: 2px;
    width: 75px;
    height: 75px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    box-shadow: 2px 3px 5px #888888;
    background-color: slategray
}

button.number{
    background-color: silver; 
    color: black;     
}

#btnResult{
    background-color: goldenrod; 
    color: white;
    height: 155px;
}

#btnDec{
    width: 100%;
}

#display{
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #888888;
    border: 2px solid silver;
    border-radius: 2px;
    font-family: 'ds_digital';
    font-size: 32px;
    text-align: right;
}